<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Module id="${project.name}" class="org.modelio.microservicesnetcore.impl.MicroserviceDotnetCoreModule" binaryversion="3.7.00" version="${project.version}" schema-level="2" uid="7c295a62-1a74-4c10-a0ca-6e66f158052b">
    <ClassPath>
        <PathEntry path="lib/${project.artifactId}-${project.version}.jar"/>
        <PathEntry path="lib/modeliotools-0.0.2.jar"/>
        <PathEntry path="lib/commons-lang3-3.1.jar"/>
    </ClassPath>
    <Profiles>
        <Profile uid="e8beb02f-eb12-4f70-9307-c7980ae15a6b" id="MicroserviceDotnetCorePIMProfile">
            <Stereotype name="PIMIdAttribute" metaclass="Attribute" is-hidden="false" uid="38a3ab59-04e5-4d6e-925a-f92b8d412f20"/>
            <Stereotype name="PIM" metaclass="Package" is-hidden="false" label="%stereotype.PIM.label" uid="24b9041d-001b-489c-82d8-8b963f923e85"/>
            <Stereotype name="PIMMicroservice" metaclass="Package" is-hidden="false" uid="02fb2973-fd15-421a-976a-461f09048ff1">
                <Icon path="res/icons/CsMicroservice_16x.png"/>
                <Image path="res/icons/CsMicroservice_16x.png"/>
            </Stereotype>
        </Profile>
        <Profile uid="29fd6091-a4e9-4499-922b-206b2055c769" id="MicroserviceDotnetCorePSMProfile">
            <Stereotype name="PSMIdAttribute" metaclass="Attribute" is-hidden="false" uid="f3ddc61b-7bc0-4d5f-bd13-e3c990c38d17"/>
            <Stereotype name="PSM" metaclass="Package" is-hidden="false" uid="7135f71c-4231-41c7-a694-efbf475a1f6d">
                <TagTypes>
                    <TagType name="Name" uid="fd11a771-69f0-4d44-8950-8a70f4157c6f" label="%tagtype.Name.label" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="PSMMicroservice" metaclass="Package" is-hidden="false" uid="2761d11a-0fb9-4e7c-892d-a3d290c7949b">
                <Icon path="res/icons/CsMicroservice_16x.png"/>
                <Image path="res/icons/CsMicroservice_16x.png"/>
                <TagTypes>
                    <TagType name="GenerateDirectory" uid="5986143d-e559-4b3f-bd55-d775d63bc8e2" label="%tagtype.GenerateDirectory.label" parameter-card="1" is-hidden="false" is-signed="false"/>
                </TagTypes>
            </Stereotype>
            <Stereotype name="PSMModelPackage" metaclass="Package" is-hidden="false" uid="ba828df0-ea60-4e93-908c-177772ed81af"/>
            <Stereotype name="PSMRepositoryPackage" metaclass="Package" is-hidden="false" uid="74c15471-883b-4b45-bd93-98b1682f7606"/>
            <Stereotype name="PSMServicePackage" metaclass="Package" is-hidden="false" uid="a2153deb-7471-4e54-91f5-107a77620a74"/>
            <Stereotype name="PSMApiPackage" metaclass="Package" is-hidden="false" uid="367c8598-3ea7-48fb-b157-40c7800143b7"/>
            <Stereotype name="PSMController" metaclass="Class" is-hidden="false" uid="880fecdc-2582-426b-8878-c942b149e938"/>
            <Stereotype name="PSMDependency" metaclass="Dependency" is-hidden="false" uid="5af78f72-028f-40f6-b9c7-ef14993458bc"/>
            <Stereotype name="PSMModelDependency" metaclass="Dependency" is-hidden="false" uid="3dd9a226-b84d-49a5-b1a9-ab2a6d2145cc"/>
            <Stereotype name="PSMRepositoryDependency" metaclass="Dependency" is-hidden="false" uid="79c626fe-c2c4-4136-a49a-14e3f367dfee"/>
            <Stereotype name="PSMServiceDependency" metaclass="Dependency" is-hidden="false" uid="88635de0-10ff-462a-8331-7c1679610803"/>
            <Stereotype name="PSMControllerDependency" metaclass="Dependency" is-hidden="false" uid="83e852d7-0b61-4c33-86e3-7a30d1bb17b4"/>
        </Profile>
    </Profiles>
    <Gui>
        <Commands>
            <Command id="GenerateMicroservicePsmCommand" label="%command.PSMGenerateMicroservice.label" tooltip="%command.PSMGenerateMicroservice.tooltip" image="res/icons/HelloWorldCommand_16.png" group="" modify-model="false" group-image="">
                <Scope metaclass="Package" stereotype="PIMMicroservice"/>
                <Handler class="org.modelio.microservicesnetcore.command.GenerateMicroservicePsmCommand"/>
            </Command>
            <Command id="GenerateInMemoryProjetsCodeCommand" label="%command.GenerateInMemoryProjetsCode.label" tooltip="%command.GenerateInMemoryProjetsCode.tooltip" image="res/icons/HelloWorldCommand_16.png" group="" modify-model="false" group-image="">
                <Scope metaclass="Package" stereotype="PSMMicroservice"/>
                <Handler class="org.modelio.microservicesnetcore.command.GenerateInMemoryProjetsCodeCommand"/>
            </Command>
            <Command id="GenerateNHibernateProjetsCodeCommand" label="%command.GenerateNHibernateProjetsCode.label" tooltip="%command.GenerateNHibernateProjetsCode.tooltip" image="res/icons/HelloWorldCommand_16.png" group="" modify-model="false" group-image="">
                <Scope metaclass="Package" stereotype="PSMMicroservice"/>
                <Handler class="org.modelio.microservicesnetcore.command.GenerateNHibernateProjetsCodeCommand"/>
            </Command>
        </Commands>
        <Tools>
            <Tool id="CreateElementDiagramCommandExample" label="%CreateElementDiagramCommandExampleLabel" tooltip="%CreateElementDiagramCommandExampleTooltip" image="res/icons/Stereotype1_16.png">
                <Scope-source metaclass="ModelTree"/>
                <Handler class="Box">
                    <HParameter name="name" value="%CreateElementDiagramCommandExampleName"/>
                    <HParameter name="metaclass" value="Class"/>
                    <HParameter name="stereotype" value="stereotype1"/>
                </Handler>
            </Tool>
        </Tools>
        <ContextualMenu>
            <CommandRef refid="GenerateMicroservicePsmCommand"/>
            <CommandRef refid="GenerateNHibernateProjetsCodeCommand"/>
        </ContextualMenu>
        <Diagrams/>
        <Views/>
    </Gui>
    <Dependencies/>
</Module>
